.ml-3{
    margin-left: 3px;
}
.ml-5{
    margin-left: 5px;
}
body{
    min-width: 400px;
    max-height: 400px;
    overflow-x: hidden;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin: 0;
}
#header{
    /*box-shadow: 0px 1px 5px grey;*/
    height: 30px;
    padding-top: 10px;
    padding-right: 20px;
}
#exploding-sites{
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.button{
    display:block;
    padding:0.4em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:0;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    background-color: black;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}
.button:hover{
    background-color:rgb(167, 14, 14);
}
.button-link{
    padding:0.4em 0em;
    color:#000;
    background-color:white;
}
.button-link:hover{
    background-color:white;
    color:rgb(167, 14, 14);
}
.button-small{
    padding:0.3em 0.6em;
    margin: 0;
    margin-top: auto;
}
.exploding-site{
    height:35px;
}
.site{
    width: 200px;
    padding:4px;
}
.timer{
    width: 40px;
    padding:4px;
    margin-right:5px;
    text-align:right;
}
